.chat
  .chatmain-header
    .chatmain-header__left-box
      %h2.chatmain-header__left-box__current-group
        = @group.name
      %ul.chatmain-header__left-box__group-list
        Member : 
        %li.chatmain-left-box__group-list__member
        - @group.group_users.each do |group|
          = group.user.name
    .chatmain-header__right-box
      =link_to "Edit", edit_group_path(@group.id), class:"edit-btn" 
        
      
  .chatmain-message
    = render @messages

  .chatmain-form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: 'form__box__message', placeholder: 'type a message'
        = f.label :image, class: 'form__box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

    